[submodule "external/paho.mqtt.c"]
	path = external/paho.mqtt.c
	url = https://github.com/eclipse/paho.mqtt.c.git
[submodule "external/json-c"]
	path = external/json-c
	url = https://github.com/json-c/json-c.git
