[Unit]
Description=PC Manager - Connect a PC to HomeAssistant via MQTT

[Service]
ExecStart=/usr/local/bin/pc_manager

[Install]
WantedBy=multi-user.target