[Unit]
Description=PC Manager - Connect a PC to Homeassistant via MQTT

[Service]
ExecStart=/usr/bin/pc_mananger

[Install]
WantedBy=multi-user.target